{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1>Welcome !</h1>

<br>Voici le nom :  {{ nom }} 
<br>Voici le hobby : {{ hobby }}
<br>Voici ma date de naissance : {{ dateNaissance.format("Y-m-d") }}
<br>J'habite : {{ adresse.rue }}, numéro : {{ adresse.numero }}
<br>Commune : {{ adresse.codePostal }}
{% endblock %}
