{% extends 'base.html.twig' %}

{% block title %}Détails Quiz
{% endblock %}


{% block body %}

    <h2>Niveau : {{ quiz.niveau.nom }}</h2>
    <br>
    <h2>Titre quiz: {{ quiz.titre }}</h2>
    <br>
    {{ form_start(formTentative)}}
    {{ form_widget(formTentative)}}

    <input type="submit" value="Commencer">

    {{ form_end(formTentative)}}



{% endblock %}